<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue<%= if Mix.env == :prod, do: ".min" %>.js"></script>

    <title>Learn Vue!</title>
  </head>

  <body>
    <%  border    = "<div style='border: 0.5px black solid; margin-bottom: 1.5rem;'></div>" %>
    <%  templates = ~w(counter calculator election stories hero) %>
    <!-- TODO: add dropdown nav -->
    <%= for template <- templates, do:
      {:safe, ["_#{template}.html" |> render() |> elem(1) | border]} %>
          <!-- ^ convert into helper ^ -->

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
