<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <title>Learn Vue!</title>
  </head>

  <body>
    <%= render "_counter.html"    %>
    <%= render "_calculator.html" %>

    <div id="computed">
      a: {{a}}, b: {{b}}
      <input v-model.number="a">

      <pre>{{ $data }}</pre>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
